<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="LRamirezProgramacionNCapas" connectionString="Data Source=.;Initial Catalog=LRamirezProgramacionNCapas;Persist Security Info=True;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient"/>
		
		<add name="LRamirezProgramacionNCapasEntities2" connectionString="metadata=res://*/LRamirezProgramacionNCapas.csdl|res://*/LRamirezProgramacionNCapas.ssdl|res://*/LRamirezProgramacionNCapas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LRamirezProgramacionNCapas;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>




	
</configuration>