@using ReportViewerForMvc;
@{
    ViewBag.Title = "Report Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
